body{
	background color:blue;
}
body{
      background-image:url("curry up now.JPG");
     background-size: cover;
 }

h1{ color:white;
	text-align:center;
	font-family:"Courier New" ;
	font-size: 70px;
    background-color:;
}
h2{
	color:white;
	text-align:center;
	font-family:"Courier New" ;
	font-size: 70px;
    background-color: ;
}

h3{color:white;
	text-align:center;
	font-family:"Courier New" ;
	font-size: 70px;
    background-color: ;
}
p{
	font-family: courier;
	font-size: 70px;
	background-color: ;
	color:white;
	text-align: center;
	background-size:50% 100%;

} 
audio{
     visibility: hidden;
}
.imgl{
 	 display:block;
 	 margin:auto;
 	 width:350px;
 	 height:480px;
     border-radius:50%;

} 
.img2{
	  display:inline-block;
	  margin:right;
	  width: 350px;
	  height: 430px;
      border-radius:60%;
}
h4{
	color:white;
	text-align: center;
    font-family:"Courier New";
    font-size: 70px;
    background-color:; 
 }
h5{
	color:white;
    text-align: center;
    font-family: "Courier New";
    font-size: 70px;
    background-color:;
}
h6{color:white;
    text-align: center;
    font-family:"Courier New";
    font-size: 70px;
    display:block;
    margin:auto;
    background-color:;
}
.img3{
     display:block;
     margin:right;
     width:350px;
     height:480px;
     border-radius:80%;

} 
button{
    width: 400px;
    font-size:100px;
    height: 500px;
    background-color:blue;
}
h7{color:black;
    text-align: center;
    font-family:"Courier New";
    font-size: 70px;
    display:block;
    margin:auto;
    background-color:;
}